<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<!--
<table>
    <tr>
        <th>Page owner is</th>
    </tr>
    <tr>
        <td th:text="${pageOwner}"></td>
    </tr>
</table>
-->

<div>
    <form th:action="@{/upload/}" method="post" enctype="multipart/form-data">
        <input type="text" name="description" placeholder="Описание файла">
        <input type="file" name="file">
        <input type="submit" value="Загрузить">
    </form>
    <p th:text="${report}">Text</p>
</div>
<h2>Файлы собственника страницы:</h2>
<div>
    <table>
        <tr th:each="file: ${files}">
            <td th:text="${file.fileName}">fileName</td>
            <td><a th:href="@{/download/} + ${file.id}">Скачать</a></td>
            <td><a th:href="@{/remove/} + ${file.id}">Удалить</a></td>
        </tr>
    </table>


</body>
</html>